version: '3.8'
services:
  jenkins:
    image: jenkins/jenkins:lts
    privileged: true          # Permite DooD
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - cicd-network

  sonarqube:
    image: sonarqube:latest
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    networks:
      - cicd-network

volumes:
  jenkins_home:

networks:
  cicd-network:
